* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: hsl(210, 46%, 95%);
}

.card {
  margin: 10rem auto;
  display: grid;
  grid-template-columns: 40% 60%;
  border-radius: 1rem;

  width: 68rem;
  background-color: #fff;
  font-family: 'Manrope', sans-serif;
}

.card-image-container {
  background-image: url('../images/drawers.jpg');
  background-size: cover;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.card-text {
  display: flex;
  flex-direction: column;

  padding: 2rem 4rem;
}

.heading {
  font-size: 1.8rem;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  margin-bottom: 1rem;
}

.text {
  font-size: 1.2rem;
  color: hsl(214, 17%, 51%);
  margin-bottom: 2rem;
}

.author-div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.author {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.author-name {
  font-size: 1.2rem;
  color: hsl(217, 19%, 35%);
}

.date {
  color: hsl(214, 17%, 51%);
  margin-top: 0.25rem;
}

.avatar {
  width: 15%;
  border-radius: 50%;
}

.share-btn {
  text-decoration: none;
  cursor: pointer;
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
  padding: 1rem;
}

.share-icon {
  width: 15px;
  height: 13px;
}

.share {
  display: none;
  justify-content: space-evenly;
  align-content: center;
  width: 20rem;
  align-items: center;
  background-color: hsl(217, 19%, 35%);
  padding: 1.25rem;
  border-radius: 0.5rem;

  top: -6rem;
  left: 21rem;

  position: absolute;

  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.082);
}

.share::after {
  position: absolute;
  content: '';
  width: 12.5px;
  height: 12.5px;
  top: 100%;
  left: 50%;
  margin-left: -6.25px;
  margin-top: -6.25px;
  transform: rotate(45deg);
  background-color: hsl(217, 19%, 35%);
}

.share-text {
  color: hsl(214, 17%, 51%);
  letter-spacing: 2px;
  font-size: 1.2rem;
}

.share-mobile {
  display: flex;
  justify-content: space-evenly;
  width: 30rem;
  background-color: hsl(217, 19%, 35%);
}

footer {
  margin-top: 5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 78rem) {
  html {
    font-size: 50%;
  }
  .card {
    display: flex;
    flex-direction: column;
    width: 40rem;
  }

  .card-image-container {
    height: 40rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0rem;
  }
}
