* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: hsl(210, 46%, 95%);
}

.container {
  width: 144rem;
  margin: 0 auto;
}

.card {
  margin: 10rem auto;
  display: grid;
  grid-template-columns: 40% 60%;
  border-radius: 1rem;

  overflow: hidden;
  width: 68rem;
  background-color: #fff;
  font-family: 'Manrope', sans-serif;
}

.card-image-container {
  background-image: url('../images/drawers.jpg');
  background-size: cover;
}

.card-text {
  display: flex;
  flex-direction: column;

  padding: 2rem 4rem;
}

.heading {
  font-size: 1.8rem;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  margin-bottom: 1rem;
}

.text {
  font-size: 1.2rem;
  color: hsl(214, 17%, 51%);
  margin-bottom: 2rem;
}

.author-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.author-name {
  font-size: 1.2rem;
  color: hsl(217, 19%, 35%);
}

.date {
  color: hsl(214, 17%, 51%);
  margin-top: 0.25rem;
}

.avatar {
  width: 15%;
  border-radius: 50%;
}

.share-btn {
  text-decoration: none;
  cursor: pointer;
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
  padding: 1rem;
}

.share-icon {
  width: 15px;
  height: 13px;
}

footer {
  margin-top: 5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
